
  .page-container {
    background-color: var(--bg-black); /* Dark overlay to make content readable */
    min-height: 100vh;
    padding: 40px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  h1, h2 {
    color: #f1f1f1;
    margin-bottom: 20px;
  }
  
  /* label {
    font-weight: bold;
    font-size: 1.2em;
    color: #ddd1d7;
  } */
  
  .dropdown {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    background: rgb(230, 221, 221);
    color: #33001e;
    outline: none;
    transition: background 0.3s ease-in-out;
  }
  
  .dropdown:hover {
    background: rgba(255, 255, 255, 0.716);
  }
  
  .button-viewstatment {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--link-blue);
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .button-viewstatment:hover {
    background-color: var(--bg-blue);
    transform: translateY(-5px);
  }
  
  button:focus {
    outline: none;
  }
  
  .transaction-card-container{
    flex-wrap: wrap;
  }
  /* Transaction Card Styling */
  .transaction-card {
    background: var(--bg-light-gray);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-width: 250px;
    box-shadow: 0 8px 16px rgba(37, 37, 37, 0.3);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    animation: slideInUp 0.6s forwards;
  }
  
  .transaction-card:hover {
    transform: translateY(-10px);
  }
  
  .transaction-card p {
    margin: 10px 0;
    font-size: 18px;
    color: var(--bg-white);
  }
  
  /* Button Row for Current/Previous Month */
  button-row {
    margin-top: 30px;
  }
  
  /* Fade-in animation for the entire container */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Slide-in animation for transaction cards */
  @keyframes slideInUp {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Mobile Responsive Design */
  @media (max-width: 768px) {
    .page-container {
      padding: 20px;
    }
  
    button {
      width: 100%;
      margin: 10px 0;
    }
  
    select {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .transaction-card {
      max-width: 100%;
      margin: 15px 0;
    }
  }
  